openapi: 3.1.0
info:
  title: Alti MCP Server
  version: '1.0.0'
  description: |
    Public Model Context Protocol (MCP) server exposing Alti's tools
    (`ask_alti`, `search_blog`, `get_blog_post`) over Streamable HTTP.
    Transport is JSON-RPC 2.0 over a single `POST /` endpoint; a `GET /health`
    probe is also provided. Deployed as an AWS Lambda Function URL.

    CORS is tightened to the production site origin (`https://thechrisgrey.com`,
    or the `MCP_CORS_ORIGIN` / `CORS_ORIGIN` env var); additional first-party
    origins can be allowlisted via `MCP_ALLOWED_ORIGINS`. The `Access-Control-
    Allow-Origin` header is never `*` — it echoes the request Origin only when
    allowlisted, with `Vary: Origin` and `Access-Control-Allow-Credentials: true`.

    `tools/call` requires a valid server-issued session token
    (`Authorization: Bearer <token>`, scope `chat` or the configured
    `MCP_SESSION_TOKEN_SCOPE`); missing or invalid tokens return 401/403.
    Discovery methods (`initialize`, `tools/list`, `ping`) remain open so MCP
    clients can negotiate the protocol before presenting credentials.

    Rate limited to 60 requests/hour per source IP (hashed). JSON-RPC
    notifications (requests without an `id`) return `202 Accepted` with an
    empty body per MCP guidance.
servers:
  - url: https://mcp-server.lambda-url.us-east-1.on.aws
    description: Lambda Function URL (region us-east-1)
tags:
  - name: mcp
  - name: health
paths:
  /:
    post:
      tags: [mcp]
      operationId: handleJsonRpc
      summary: JSON-RPC 2.0 MCP request
      security:
        - sessionToken: []
        - none: []
      description: |
        Standard MCP methods (`initialize`, `tools/list`, `tools/call`, ...).
        Requests are dispatched by the MCP server (`server.mjs`). Notifications
        return 202 with no body.

        `tools/call` requires a valid `Authorization: Bearer <session-token>`
        header (scope `chat`); `initialize`, `tools/list`, and `ping` are
        unauthenticated (discovery handshake). A missing/invalid token on
        `tools/call` returns 401/403 with a JSON-RPC error (code -32001).
      parameters:
        - name: Mcp-Protocol-Version
          in: header
          required: false
          schema:
            type: string
        - name: Authorization
          in: header
          required: false
          description: |
            `Bearer <session-token>`. Required for `tools/call`; ignored for
            discovery methods. Issued by the session-token Lambda after a
            Cloudflare Turnstile check.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonRpcRequest'
      responses:
        '200':
          description: JSON-RPC result or error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
        '202':
          description: Notification accepted (no response body)
        '400':
          description: Parse error (-32700) or invalid request (-32600)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
        '401':
          description: Unauthorized — `tools/call` requires a Bearer session token (code -32001)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
        '403':
          description: Forbidden — the supplied session token was rejected (code -32001)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
        '405':
          description: Method not allowed on this endpoint (-32600)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
        '429':
          description: Rate limit exceeded (-32000)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
    options:
      tags: [mcp]
      operationId: mcpPreflight
      summary: CORS preflight
      security: []
      description: |
        Returns `Access-Control-Allow-Origin` set to the allowlisted request
        Origin (or the configured production origin when the request Origin is
        not allowlisted), with `Vary: Origin` and
        `Access-Control-Allow-Credentials: true`. Never `*`.
      responses:
        '204':
          description: No content
  /health:
    get:
      tags: [health]
      operationId: mcpHealth
      summary: Liveness probe
      security: []
      responses:
        '200':
          description: Server is up
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  server: { type: string }
                  version: { type: string }
components:
  securitySchemes:
    sessionToken:
      type: http
      scheme: bearer
      description: |
        Server-issued session token (scope `chat` or the configured
        `MCP_SESSION_TOKEN_SCOPE`), required for `tools/call`. Issued by the
        session-token Lambda after a Cloudflare Turnstile check.
    none:
      type: apiKey
      in: header
      name: X-No-Auth
      description: |
        Sentinel for unauthenticated discovery methods (`initialize`,
        `tools/list`, `ping`). No header is actually required — this scheme
        documents that those methods accept no credentials.
  schemas:
    JsonRpcRequest:
      type: object
      required: [jsonrpc, method]
      properties:
        jsonrpc:
          type: string
          const: '2.0'
        id:
          type: [string, number, 'null']
          description: Omit for notifications (server replies 202 with no body).
        method:
          type: string
          examples: [initialize, tools/list, tools/call]
        params:
          type: object
          additionalProperties: true
    JsonRpcResponse:
      type: object
      required: [jsonrpc]
      properties:
        jsonrpc:
          type: string
          const: '2.0'
        id:
          type: [string, number, 'null']
        result:
          type: object
          additionalProperties: true
        error:
          $ref: '#/components/schemas/JsonRpcError'
    JsonRpcError:
      type: object
      required: [code, message]
      properties:
        code:
          type: integer
          description: JSON-RPC error code (e.g. -32700, -32600, -32000).
        message:
          type: string
        data:
          type: object
          additionalProperties: true
